@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/DataTableLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>DataTables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <!-- Button trigger modal -->
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-success font-weight-bold" data-toggle="modal" data-tooltip="tooltip" data-operation="ad" data-placement="right" title="Add New Department" onclick="clearSave()" data-target="#Modal"><i class="fas fa-plus"></i></button>
                                <div class="col-3">
                                    <select class="custom-select" id="employeeData">
                                        <option value="master" selected>DATA MASTER</option>
                                        <option value="active">ACTIVE EMPLOYEES</option>
                                        <option value="resign">RESIGNED EMPLOYEES</option>
                                    </select>
                                </div>
                            </div>
                           
                            <!-- Modal -->
                            <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Employee</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div id="input-nik" class="form-group">
                                                    <label for="IdInput">NIK</label>
                                                    <input type="text" class="form-control" id="nik" disabled />
                                                </div>
                                                <div id="input-email" class="form-group">
                                                    <label for="IdInput">Email</label>
                                                    <input type="text" class="form-control" id="email" disabled />
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputFirstName">First Name</label>
                                                        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                                                        <span id="firstNameError" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="inputLastName">Last Name</label>
                                                        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                                                        <span id="lastNameError" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPhone">Phone</label>
                                                    <input type="text" class="form-control" id="inputPhone" placeholder="08xxxxxxxxxx">
                                                    <span id="phoneError" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputAddress">Address</label>
                                                    <input type="text" class="form-control" id="inputAddress" placeholder="Jl. Abdul Muis, Kelurahan...">
                                                    <span id="addressError" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputDepart">Department</label>
                                                    <select id="inputDepart" class="form-control">
                                                        <option selected disabled>Choose...</option>
                                                    </select>
                                                    <span id="departmentError" class="text-danger"></span>
                                                </div>
                                            </form>
                                            <div id="validationErrors" class="text-danger"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="save-button" class="btn btn-primary" onclick="Save()"><i class="fas fa-save"></i></button>
                                            <button type="button" id="update-button" class="btn btn-warning" onclick="Update()"><i class="fas fa-edit"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="datatable" class="table table-bordered table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>NIK</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Address</th>
                                        <th>Status</th>
                                        <th>Department</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts{
    <!-- jQuery -->
    <script src="~/adminlte-3.2.0/plugins/jquery/jquery.min.js"></script>
    @*<script src="~/adminlte-3.2.0/docs/assets/plugins/jquery/jquery.min.js"></script>*@
    <!-- Bootstrap 4 -->
    <script src="~/adminlte-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/adminlte-3.2.0/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/jszip/jszip.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- AdminLTE App -->
    <script src="~/adminlte-3.2.0/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/adminlte-3.2.0/dist/js/demo.js"></script>*@
    <!-- Page specific script -->
    <script src="~/js/employeescript.js"></script>
    @*    <script>
        $(function () {
            $('#datatable').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "ajax": {
                    url: "https://localhost:7140/api/Departments/Department",
                    type: "GET",
                    "datatype": "json",
                    "dataSrc": "data"
                },
                "columns": [
                    { "data": "no" },
                    { "data": "deptID" },
                    { "data": "name" },
                    { "data": "" }
                ]
            }).buttons().container().appendTo('#datatable_wrapper .col-md-6:eq(0)');
        });
    </script>*@
    <script>
        $(function () {
            $('[data-tooltip="tooltip"]').tooltip({
                trigger: 'hover'
            });
                //$('#input-nik').hide();
        })
    </script>
}

